:root {
    --black: hsla(20, 100%, 1%, 1);
    --raw-umber: hsla(25, 55%, 40%, 1);
    --bistre: hsla(27, 25%, 16%, 1);
    --coffee: hsla(24, 36%, 29%, 1);
    --bistre-2: hsla(20, 58%, 14%, 1);
    --beaver: hsla(29, 12%, 49%, 1);
    --sunset: hsla(35, 89%, 83%, 1);
}

body {
    font-family: 'Chakra Petch';
    text-align: center;
}

#whatsapp-icon {
    position: fixed;
    left: 4%;
    bottom: 3.5%;
    font-size: 2.5rem;
    color: var(--black);
}


/*|---------------------------------------------------------------|*/
/*|                           NAV MENU                            |*/
/*|---------------------------------------------------------------|*/

.nav-button {
    position: fixed;
    top: 1px;
    right: 1px;
    font-size: 1.5rem;
    z-index: 1000;
    padding: 10px;
    background: inherit;
    color: var(--mint-cream);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 5px;
    padding-bottom: .8em;
    padding-left: .5em;
    border-top: none;
    border-right: none;
    background: hsl( 0 0% 100% / .2);
    backdrop-filter: blur(2rem);
  }

.nav-menu {
  position: fixed;
  top: 0;
  right: -55%; /* Start hidden off-screen */
  width: 55%;
  height: 100vh;
  background: hsl( 0 0% 100% / .1);
  backdrop-filter: blur(.25rem);
  transition: right 0.4s ease-in-out;
  padding: 60px 20px 20px;
  z-index: 999;
}

.nav-menu.active {
  right: 0; /* Slide in */
}

.nav-menu ul {
    margin-top: 5em;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  margin: 20px 0;
}

.nav-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

/* Overlay when menu is active */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }

.overlay.active {
  display: block;
}

/* USER SECTION */

.user-section {
    margin-top: 1em;
    padding: 3em;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 20px 1px var(--black);
    border-radius: 15px;
}

#user-section-username {
    font-size: 1.2rem;
}

#user-section-user-pic {
    height: 125px;
    margin-top: 1em;
    border-radius: 100%;
}

#button-log-out {
    color: var(--sunset);
    background: inherit;
    margin-top: 1em;
    font-size: 1.6rem;
    border-radius: 50px;
    border: none;
}

#button-log-out:hover {
    cursor: pointer;
}

/*|---------------------------------------------------------------|*/
/*|                       WELCOME SECTION                         |*/
/*|---------------------------------------------------------------|*/

#inicio {
    height: 100vh;
    background-image: url('../media/landing-dune-style-image.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.25em;
}

#inicio h1 {
    font-size: 2.25rem;
    color: var(--eerie-black);
}

#inicio h1 + p {
    font-style: italic;
    font-size: 1.25rem;
    font-weight: 600;
}

#inicio p:last-child {
    text-align: center;
    color: white;
    margin-top: 20.8em;
    font-size: 1.25rem;
}


/*|---------------------------------------------------------------|*/
/*|                        ROOMS SECTION                          |*/
/*|---------------------------------------------------------------|*/

#rooms-services {
    height: 100vh;
    background: linear-gradient( #31251B, var(--beaver)) ;
    border-top: 10px solid var(--black);
    padding-top: 4em;
    color: var(--black);
}